*{
	background-color :#9C27B0;
	<--! this color is from https://flatuicolors.com/ -->
}


#website_header {
	background-color: white;
	width:500px;
	margin:0 auto;
	color: purple ;
	text-align: center;
	
	font-size: 35px;
	font-family: tahoma;
	;
}
#wrap{
	width:500px;
	margin:0 auto;


}
#paragraphe{
	color : black;
	background-color:white;;
	padding : 30px;
	height: 400px;
	margin:0 auto;
	text-align: center;
}
#footer{
	color :white;
	
	text-align: center;
	margin:0 auto;
}