


#website_header {
	background-color: purple;
	width:500px;
	margin:0 auto;
	color: white ;
	text-align: center;
	
	font-size: 35px;
	font-family: tahoma;
	;
}
#wrap{
	width:500px;
	margin:0 auto;

h1{
	color: white;
}
}
#nheader{

}