*{
	
	color:white;
	text-align: center;
	font-family: tahoma;
	background-color: black;
	/* this color is from https://flatuicolors.com/ */
}
button{
	background-color: white;
	width: 250px;
	font-size: 20px;
	color: black; 
	border-radius: 30px;
	margin :10px 40px 10px 0px ;
	padding: 10px 10px;

}
a{
	text-decoration: underline:none color: red;
}
#website_header {
	background-color: white;
	width:500px;
	margin:0 auto;
	color: black;
	text-align: center;
	
	font-size: 35px;
	font-family: tahoma;
	;
}
#wrap{
	width:500px;
	margin:0 auto;


}
#paragraphe{
	color : white;
	
	background-size: 100%;
	margin:0 auto;
	text-align: center;
	width: 70%;
}
#footer{
	color :white;
	
	text-align: center;
	margin:0 auto;
}
#sideBar{
	color:black;
	background-color:yellow;
	float:right;
	width:20%;
}