*{
	
	color:#f5cd79;
	text-align: center;
	font-family: tahoma;
	background-color:#b71540;
	/* this color is from https://flatuicolors.com/ */
}
button{
	background-color: #f5cd79;
	width: 250px;
	font-size: 20px;
	color: black; 
	border-radius: 30px;
	margin :10px 40px 10px 0px ;
	padding: 10px 10px;

}

#website_header {
	background-color: #f5cd79;
	width:500px;
	margin:0 auto;
	color: #b71540;
	text-align: center;
	
	font-size: 35px;
	font-family: tahoma;
	
}

#paragraphe{
	color : #f5cd79;
	border-radius: 30px;
	background-size: 50%;
	margin:0 auto;
	text-align: center;
	width: 100%;
}
#footer{
	color :white;
	text-align: center;
	margin:0 auto;
}
